<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="">
<head>
    <meta charset="UTF-8">
    <title>Uspesna kupovina</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    >
</head>
<body>
<div class="container">
    <h1>Uspesno ste izvrsili kupovinu <span th:text="*{ime}"></span> na adresi <span th:text="*{adresa}"></span>!</h1>
</div>
</body>
</html>